<div class="container">
    <div class="view-toggle">
        <button mat-icon-button [color]="viewMode === 'card' ? 'primary' : ''" (click)="changeView('card')">
            <mat-icon>grid_view</mat-icon>
        </button>
        <button mat-icon-button [color]="viewMode === 'table' ? 'primary' : ''" (click)="changeView('table')">
            <mat-icon>list</mat-icon>
        </button>
    </div>

    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>

    <div class="card-view" *ngIf="viewMode === 'card' && !isLoading " [@listAnimation]>
        <app-card [pokemonList]="pokemonList"></app-card>
    </div>

    <div class="table-view" *ngIf="viewMode === 'table' && !isLoading" [@listAnimation]>
        <app-grid [pokemonList]="pokemonList"></app-grid>
    </div>
</div>