<div class="container">
    <div class="view-toggle">
      <button
        mat-icon-button
        [color]="viewMode === 'grid' ? 'primary' : ''"
        (click)="changeView('grid')"
      >
        <mat-icon>grid_view</mat-icon>
      </button>
      <button
        mat-icon-button
        [color]="viewMode === 'list' ? 'primary' : ''"
        (click)="changeView('list')"
      >
        <mat-icon>list</mat-icon>
      </button>
    </div>
  
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  
    <div class="grid-view" *ngIf="viewMode === 'grid' && !isLoading">
      <app-card [pokemonList]="pokemonList"></app-card>
    </div>
  
    <div class="list-view" *ngIf="viewMode === 'list' && !isLoading">
      <app-grid [pokemonList]="pokemonList"></app-grid>
    </div>
  </div>
  